extend index

block pageindex 
 section.map-back
   div.container
    h1.title About Dr Samir Abdelghaffar

 <!-- End Section panner Top -->
 section.aboutus  
  div.container
   div.row
    div.col-sm-6.item
     img(src='images/aboutus.jpg' alt="" title="")   
    div.col-sm-6.item.text-contant
     div.inner-ab
      h3.title about us 
      p.text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text <br/><br/>  Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text<br/><br/>  Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text
 
 section.aboutus  
  div.container
   div.row
    div.col-sm-6.item.text-contant
     div.inner-ab.mb-3
      h3.title Consultant Interventional Radiologist
      p.text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text <br/><br/>  Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text<br/><br/>  Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text
    div.col-sm-6.item
     img(src='images/aboutus.jpg' alt="" title="")   

 section.aboutus  
  div.container
   div.row
    div.col-sm-6.item
     img(src='images/aboutus.jpg' alt="" title="")   
    div.col-sm-6.item.text-contant
     div.inner-ab
      h3.title Consultant Interventional Radiologist
      p.text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text <br/><br/>  Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text<br/><br/>  Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text
 