extend index

block pageindex 
 section.map-back
   div.container
    h1.title Contact Us

 <!-- End Section panner Top -->
 
 
 section(class='contactus')
   div.container
    h2.title Make the contact now
    p.text-center Make use of the different communication ways and start your online consultation. <br/> For any general medical queries or information regarding our services you can use the contact form.<br/> For medical consultations you can book an online appointment.
    div.cont-item
     div.row
      div.col-sm-4.it-cont
       h3.title Phone calls
       p Call the clinic admin for
       a(class="bottom" href="#")   Call now
      div.col-sm-4.it-cont
       h3.title Online messaging
       p for story-driven brands
       a(class="bottom" href="#") Start now
      div.col-sm-4.it-cont
       h3.title Video Consultation
       p for story-driven brands
       a(class="bottom" href="#") appointments
    div.mobile-app-store
      img(src='images/mobile-app-store.jpg' alt="" title="")  
    div.detals
     div.row
      div.col-sm-3.it-cont
       i(class="fas fa-map-marker-alt")
       h3.title Address
       p Cairo TS 702110

      div.col-sm-3.it-cont
       i(class="fas fa-phone")
       h3.title Phone
       a(href="#")  +22 9876543210
       a(href="#")  +22 9876543210
     
      div.col-sm-3.it-cont
       i(class="fas fa-envelope")
       h3.title Queries
       a(href="#")  info@doctor.com
       a(href="#") info@doctor.com
    
      div.col-sm-3.it-cont
       i(class="far fa-clock")
       h3.title Working Hours
       p Mon-Fri: 9:00 – 18:00
       p Saturday: 11:00 – 17:00
    div.row
     div.col-sm-6.item
      div.inner
        h2.title Our Messenger
        p.text Feel Free To Sent Any Request
        form(action="#" method="")
         //div.alert.alert-success #[i(class="fa fa-check")] Logged in successfully 
         //div.alert.alert-danger #[i(class="fa fa-exclamation-triangle")]   There is a mistake, please try again  
         div.row
          div(class="col-sm-12 inpusrach")
           input(type="text" name="" class="form-control" placeholder="Name")
          div(class="col-sm-12 inpusrach")
           input(type="email" name="" class="form-control" placeholder="Email")
          div(class="col-sm-12 inpusrach")
           input(type="text" name="" class="form-control" placeholder="Subject")
          div(class="col-sm-12 inpusrach")
           textarea(name="" class="form-control" placeholder="Comment")
          div(class="col-sm-12 inpusrach")
           button(class="bottom" type="submit") Send message
     div.col-sm-6.item
      div.map-contact 
       iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.801191573542!2d31.319043685361184!3d30.099879622907654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14581586871aaaa7%3A0x7b395c4438bbd19!2sghonem+travel!5e0!3m2!1sar!2seg!4v1566157603351!5m2!1sar!2seg" allowfullscreen="")
 

      