footer.footer   
 div.container
  div.row 
   div.col-md-3.boxfot 
    h6.title  Main
    nav.navmenu 
      a(href='index.html') Home 
      a(href='aboutus.html') about us   
      a(href='services.html') Services
      a(href='videos.html')  Video Channel 
      a(href='news.html')  News and Articles
   div.col-md-3.boxfot 
    h6.title  Latest Videos
    nav.navmenu 
      a(href='antibodies.html') Antibodies 
      a(href='cell-therapy.html') Cell Therapy   
      a(href='proteins-peptides.html') Proteins & Peptides
   div.col-md-3.boxfot 
    h6.title Latest Articles
    nav.navmenu 
      a(href='antibodies.html') Antibodies 
      a(href='cell-therapy.html') Cell Therapy   
      a(href='proteins-peptides.html') Proteins & Peptides 
   div.col-md-3.boxfot 
    h6.title  Contact Us
    div.textcontact
      p #[i(class="fas fa-map-marker-alt")] Lorem Ipsum Has Been The Industry’s Standard Dummy Text
      a(href='#') #[i(class="fas fa-envelope")]  info@yahoo.com
      a(href='#')  #[i(class="fas fa-phone")] 124578547895575  
  div.detals   
   p.text © Copyright 2020 Dr Variable. All Rights Reserved.  
   nav.social
    a(class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook")
    a(class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter")
    a(class="fab fa-google icon-gplus" href="#" target="_blank" title="google")
    a(class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram")
    a(class="fab fa-whatsapp icon-whatsapp" href="#" target="_blank" title="whatsapp")
    a(class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube")   
 
 div.copyright
   p.textcopyright Created with love by #[a(href="#") yahoo.com] 
 a(class="scrollToTop bottom" href="#") #[i(class="fas fa-arrow-up")]           
                  
      













