header.header
 div.minheeader
   div.container
    div(class="dropdown language")
       span(class="dropdown-toggle" data-toggle="dropdown") Language #[i(class="fas fa-chevron-down")]
       div(class="dropdown-menu")
        a(class="dropdown-item" href="#")  #[img(src='images/use.jpg' alt="" title="")] English
        a(class="dropdown-item" href="#")  #[img(src='images/ar.jpg' alt="" title="")] Arabic
    nav(class='linkstop')
      a(href="notifications.html")    notifications  #[i(class="fas fa-bell")] 
      a(href="login.html")   Login  
      a(href="register.html" class="register")   Register
     
      //div(class="dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown") #[span   Mohamed ahmed ]  #[i(class="fas fa-chevron-down")]
       div(class="dropdown-menu")
        a(class="dropdown-item" href="myprofile.html") My profile
        a(class="dropdown-item" href="favorite.html") favorite
        a(class="dropdown-item" href="my-requests.html") my requests
        a(class="dropdown-item" href="#") log out
   
 div.container.content
    div(class='logo')
     a(href='index.html' title="") 
      img(src='images/logo.png' alt="Samir Abdelghaffar" title="Samir Abdelghaffar")    
    div(id='cssmenu')
      ul
       //li
         a(href='index.html' class='active') Home
       li
        a(href='aboutus.html') about us
       li
        a(href='services.html') Services
       li
        a(href='videos.html') Video Channel 
       li
        a(href='news.html') News & Articles
       li
        a(href='contactus.html') Contact Us
    nav.bot
     a(href='appointments.html' class="bottom") appointments
     a(href='callnow.html' class="bottom") Call now
 
nav.bot.rspon
     a(href='appointments.html' class="bottom") appointments
     a(href='callnow.html' class="bottom") Call now

//- End Header  
       
