section.min-details
 div(class='container')
  h2.title  golden banner
  p.text-center Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been<br/> The Industry’s Standard Dummy Text 

  div.row
   div.col-sm-3.item
    div.stability
     i A
     p Lorem Ipsum Has Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry’s  Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry Standard Dummy Text 
     a(href="#" class="bottom")  subscribe
   div.col-sm-3.item
    div.stability
     i b
     p Lorem Ipsum Has Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry’s  Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry Standard Dummy Text 
     a(href="#" class="bottom")  subscribe
   div.col-sm-3.item
    div.stability
     i c
     p Lorem Ipsum Has Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry’s  Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry Standard Dummy Text 
     a(href="#" class="bottom")  subscribe
   div.col-sm-3.item
    div.stability
     i d
     p Lorem Ipsum Has Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry’s  Been The Industry’s Standard Dummy  Text Lorem Ipsum Has Been The Industry Standard Dummy Text 
     a(href="#" class="bottom")  subscribe
  
 
//- End box

