section.aboutus  
 div.container
  div.row
   div.col-sm-6.item
     img(src='images/aboutus.jpg' alt="Samir Abdelghaffar" title="Samir Abdelghaffar")   
   div.col-sm-6.item
     div.inner-ab
      h3.title Consultant Interventional Radiologist
      p.text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text <br/><br/>  Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
      a(href='#' class="bottom") Read more