extend index

block pageindex
 section.map-back
   div.container
    h1.title Wishlist
    ul.maplink
     li 
      a(href="login.html") login
     li Wishlist

 <!-- End Section panner Top -->
 section.profile
  div.container
   //-  div.alert.alert-success #[i(class="fa fa-check")] Data changed successfully

   div.row
    div.col-sm-3.item
     div.inner
      h2.title navigation 
      nav.profile-link
       a(href="edit-profile.html" ) Edit profile
       a(href="my-wishlist.html" class="active") Wishlist
       a(href="#")   log out
    div.col-sm-9.item
      div.row
       div.col-sm-4.itembox
        a(href="#" class="stability")
         i(class="fas fa-box-open")
         h2.title securiy & stability
         p Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
       div.col-sm-4.itembox
        a(href="#" class="stability")
         i(class="fas fa-box-open")
         h2.title securiy & stability
         p Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
       div.col-sm-4.itembox
        a(href="#" class="stability")
         i(class="fas fa-box-open")
         h2.title securiy & stability
         p Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
       div.col-sm-4.itembox
        a(href="#" class="stability")
         i(class="fas fa-box-open")
         h2.title securiy & stability
         p Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
       div.col-sm-4.itembox
        a(href="#" class="stability")
         i(class="fas fa-box-open")
         h2.title securiy & stability
         p Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
       div.col-sm-4.itembox
        a(href="#" class="stability")
         i(class="fas fa-box-open")
         h2.title securiy & stability
         p Lorem Ipsum Has Been The Industry’s Standard Dummy Text Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
   