extend index

block pageindex 
 
 section.min-box
  div(class='container')
   h2.title Latest news & Articles
   p.text Here you can find out more about me, my professional services and the latest news and articles.
   div.row
    div.col-sm-4.item
     div(class="stability")
      div.photo  #[img(src="images/slider/img-1.jpg" alt="")]
      h2.title News & Articles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      a(href='news-inner.html' class="bottom") Read more
    div.col-sm-4.item
     div(class="stability")
      div.photo  #[img(src="images/slider/img-1.jpg" alt="")]
      h2.title News & Articles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      a(href='news-inner.html' class="bottom") Read more  
    div.col-sm-4.item
     div(class="stability")
      div.photo  #[img(src="images/slider/img-1.jpg" alt="")]
      h2.title News & Articles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      a(href='news-inner.html' class="bottom") Read more
    div.col-sm-4.item
     div(class="stability")
      div.photo  #[img(src="images/slider/img-1.jpg" alt="")]
      h2.title News & Articles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      a(href='news-inner.html' class="bottom") Read more
    div.col-sm-4.item
     div(class="stability")
      div.photo  #[img(src="images/slider/img-1.jpg" alt="")]
      h2.title News & Articles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      a(href='news-inner.html' class="bottom") Read more
    div.col-sm-4.item
     div(class="stability")
      div.photo  #[img(src="images/slider/img-1.jpg" alt="")]
      h2.title News & Articles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      a(href='news-inner.html' class="bottom") Read more
   ul(class="pagination w-100")
      li(class="page-item")
       a(class="page-link" href="#") #[i(class="fas fa-angle-left")] 
      li(class="page-item")
       a(class="page-link active" href="#") 1 
      li(class="page-item")
       a(class="page-link" href="#") 2
      li(class="page-item")
       a(class="page-link" href="#") 3
      li(class="page-item")
       a(class="page-link" href="#") #[i(class="fas fa-angle-right")]    
      











