extend index

block pageindex
 section.news
  div.container
   h4.title News & Articles
   div.photonews
     img(src="images/news.jpg" alt="") 
   div.contant
    
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellent esque dignissim eros a sapien tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellent esque dignissim eros a sapien tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien TempusLorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Pellent Esque Dignissim Eros A Sapien Tempus.
    div.a2a_kit.a2a_kit_size_32.a2a_default_style 
      a(class="a2a_dd" href="https://www.addtoany.com/share")
      a(class="a2a_button_facebook")
      a(class="a2a_button_twitter")
      a(class="a2a_button_email")
      a(class="a2a_button_linkedin")
    script(async src="https://static.addtoany.com/menu/page.js")

 







