section.slider
 div.container
  div.row
   div.col-sm-6.item
    div.content
      h1.title Dr First Surname
      p.text Type the slogan here
      p.text Type the slogan here
      p.text Type the slogan here
      nav.bot
       a(href='appointments.html' class="bottom") appointments
       a(href='callnow.html' class="bottom") Call now
   div.col-sm-6.item
    div(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")
     div.carousel-inner
      div.carousel-item.active #[img(class="d-block w-100" src="images/slider/img-1.jpg" alt="")]
      div.carousel-item        #[img(class="d-block w-100" src="images/slider/img-2.jpg" alt="")]
      div.carousel-item        #[img(class="d-block w-100" src="images/slider/img-3.jpg" alt="")]
                 
     //-  End photos