script(src='js/jquery.js')
script(src="js/popper.min.js")
script(src='js/bootstrap.min.js')
script(src="js/jquery-steps.js")
script(src="js/jquery.validate.js")
script(src="js/intlTelInput.js")
script(src='js/plugin.js')   
 



 	
